doctype html
html(lang="ja")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title encode
        //-script 
            const Caesar = require('./caesar.js');
            const Morse = require('./morse.js');
    body 
        h1 cryptographer
        form(action="/get", method="get") 
            input(type="button" onclick="location.href='./posts';" value="home")
        a(href="./decode") deode
        img(src="open.jpg", alt="decode")
        form(action="/get", method="get")
            textarea(id="textarea", cols="30", rows="5") 
            br
            //-input(id="key", cols="2")
            //-button(onclick={(e) => Caesar.encode();} value="caesar")
            //-button(onclic={(e) => Morse.encode();} value="morse")