doctype html
html(lang="ja")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title info
        link(rel="stylesheet", href="info.css")
    body 
        h2 cryptographer
        form(action="/get", method="get") 
            input(type="button" onclick="location.href='./posts';" value="home")
        h3 information
        p cyrptographerは文を暗号化するサイトです。
        p というよりも、言葉遊びという感じかもしれません。
        p ゆるく楽しく使っていただけたらうれしいです。
//TODO css対応